// -------------------- Base styles of buttons <start> --------------------
@mixin base-button($backcolor, $hovercolor, $radius: 6px, $shadowSet: outset) {
    outline: none;
    border: 0px solid transparent;
    text-align: center;
    padding: 2px 2px;
    cursor: pointer;
    border-radius: $radius;
    background-color: $backcolor;
    // ---------- shadow ----------
    @if $shadowSet == outset {
        box-shadow: 2px 2px 5px 0px $gray-level-2;
        -moz-box-shadow: 2px 2px 5px 0px $gray-level-2;
        -webkit-box-shadow: 2px 2px 5px 0px $gray-level-2;
    } @else {
        $shadowColor: darken($backcolor, 15%);
        box-shadow: inset 2px 1px 3px 1px $shadowColor;
        -moz-box-shadow: inset 2px 1px 3px 1px $shadowColor;
        -webkit-box-shadow: inset 2px 1px 3px 1px $shadowColor;
    }
    // ---------- shadow ----------
    // ---------- unselectable ----------
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    // ---------- unselectable ----------
    &:hover {
        background-color: $hovercolor;
    }
    &.clickable:active, .btn-active {
        background-color: lighten($hovercolor, 5%);
        box-shadow: 1px 1px 4px $gray-level-2;
        margin-left: 1px;
        margin-top: 1px;
    }
    &[disabled] {
        color: white;
        background-color: $disabled-color;
        box-shadow: 0px 0px 0px transparent;
        margin-left: 0px;
        margin-top: 0px;
        cursor: default;
    }
}
@mixin large-button-text($marginSide: margin-left, $marginOffset: 0px) {
    @extend .regular-section;
    min-height: 24px;
    min-width: 30px;
    #{$marginSide}: $marginOffset;
    padding: 4px 8px 2px 8px;
}
@mixin regular-button-text($marginSide: margin-left, $marginOffset: 0px) {
    @extend .regular-content;
    min-height: 20px;
    min-width: 20px;
    #{$marginSide}: $marginOffset;
    padding: 4px 8px 2px 8px;
}
@mixin small-button-text($marginSide: margin-left, $marginOffset: 0px) {
    @extend .small-content;
    min-height: 16px;
    min-width: 18px;
    #{$marginSide}: $marginOffset;
    padding: 2px 8px 1px 8px;
}
@mixin icon($top, $side, $offset, $size, $singleSize: 0px) {
    @if $singleSize == 0px {
        position: absolute;
        top: $top;
        #{$side}: $offset;
    } @else {
        position: relative;
        min-height: $singleSize;
        min-width: $singleSize;
    }
    display: flex;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    color: inherit;
    font-size: $size;
}
@mixin inner-button ($top, $side, $offset, $size) {
    position: absolute;
    top: $top;
    #{$side}: $offset;
    outline: none;
    background-color: $whitesmoke;
    border: 0px solid transparent;
    height: $size;
    line-height: $size;
    width: $size;
    border-radius: $size / 2;
    // ---------- shadow ----------
    @if $side == left {
        box-shadow: 2px 1px 3px 0px darken($whitesmoke, 20%);
        -moz-box-shadow: 2px 1px 3px 0px darken($whitesmoke, 20%);
        -webkit-box-shadow: 2px 1px 3px 0px darken($whitesmoke, 20%);
    }
    // ---------- shadow ----------
}
// -------------------- Base styles of buttons <end> --------------------

// -------------------- Styles of component 'Standard button' <start> --------------------
.btn {
    &.plain {
        @include base-button($backcolor: $whitesmoke, $hovercolor: $whitesmoke);
        color: $gray-level-1;
        border: 1px solid $whitesmoke;
    }
    &.primary {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.warning {
        @include base-button($backcolor: $orange-base, $hovercolor: $orange-light);
        color: $whitesmoke;
    }
    &.alarm {
        @include base-button($backcolor: $red-base, $hovercolor: $red-light);
        color: $whitesmoke;
    }
    &.prompt {
        @include base-button($backcolor: $green-base, $hovercolor: $green-light);
        color: $whitesmoke;
    }
    &.attention {
        @include base-button($backcolor: $pink-base, $hovercolor: $pink-light);
        color: $whitesmoke;
    }
    > .large-text {
        @include large-button-text;
    }
    > .regular-text {
        @include regular-button-text;
    }
    > .small-text {
        @include small-button-text;
    }
}
// -------------------- Styles of component 'Standard button' <end> --------------------

// -------------------- Styles of component 'Image button' <start> --------------------
.imgbtn {
    &.edit {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.file {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.list {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.dele {
        @include base-button($backcolor: $red-base, $hovercolor: $red-light);
        color: $whitesmoke;
    }
    &.addr {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.dshb-a {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.dshb-b {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.set-a {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.set-b {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.set-c {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.hnor {
        @include base-button($backcolor: $violet-base, $hovercolor: $violet-light);
        color: $whitesmoke;
    }
    &.cald {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.bell {
        @include base-button($backcolor: $orange-base, $hovercolor: $orange-light);
        color: $whitesmoke;
    }
    &.user {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.warn {
        @include base-button($backcolor: $orange-base, $hovercolor: $orange-light);
        color: $whitesmoke;
    }
    &.tack {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.tags {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.sort {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.sign-in {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.sign-out {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.refh {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.pict {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.chrt {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.bulb {
        @include base-button($backcolor: $orange-base, $hovercolor: $orange-light);
        color: $whitesmoke;
    }
    &.key {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.info {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.beat {
        @include base-button($backcolor: $red-base, $hovercolor: $red-light);
        color: $whitesmoke;
    }
    &.hsty {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.home {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.flag {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.bolt {
        @include base-button($backcolor: $red-base, $hovercolor: $red-light);
        color: $whitesmoke;
    }
    &.mail {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.lock {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.unlk {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    &.top {
        @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
        color: $whitesmoke;
    }
    > .large-icon {
        &.left {
            @include icon($top: 8px, $side: left, $offset: 10px, $size: 1.8em);
            > .medal {
                @include medal($top: -17px, $size: 1.0em, $offset: 12px, $side: left, $sideOffset: -15px);
            }
        }
        &.right {
            @include icon($top: 8px, $side: right, $offset: 10px, $size: 1.8em);
            > .medal {
                @include medal($top: -17px, $size: 1.0em, $offset: 12px, $side: left, $sideOffset: -15px);
            }
        }
        &.single {
            @include icon($top: 8px, $side: left, $offset: 10px, $size: 1.8em, $singleSize: 40px);
            > .medal {
                @include medal($top: -8px, $size: 1.0em, $offset: 12px, $side: left, $sideOffset: -6px);
            }
        }
    }
    > .regular-icon {
        &.left {
            @include icon($top: 8px, $side: left, $offset: 10px, $size: 1.2em);
            > .medal {
                @include medal($top: -11px, $size: 1.0em, $offset: 9px, $side: left, $sideOffset: -10px);
            }
        }
        &.right {
            @include icon($top: 8px, $side: right, $offset: 10px, $size: 1.2em);
            > .medal {
                @include medal($top: -11px, $size: 1.0em, $offset: 9px, $side: left, $sideOffset: -10px);
            }
        }
        &.single {
            @include icon($top: 8px, $side: left, $offset: 10px, $size: 1.2em, $singleSize: 30px);
            > .medal {
                @include medal($top: -4px, $size: 1.0em, $offset: 9px, $side: left, $sideOffset: -2px);
            }
        }
    }
    > .small-icon {
        &.left {
            @include icon($top: 8px, $side: left, $offset: 8px, $size: 0.8em);
            > .medal {
                @include medal($top: -9px, $size: 1.0em, $offset: 7px, $side: left, $sideOffset: -6px);
            }
        }
        &.right {
            @include icon($top: 8px, $side: right, $offset: 8px, $size: 0.8em);
            > .medal {
                @include medal($top: -9px, $size: 1.0em, $offset: 7px, $side: left, $sideOffset: -6px);
            }
        }
        &.single {
            @include icon($top: 8px, $side: left, $offset: 8px, $size: 0.8em, $singleSize: 22px);
            > .medal {
                @include medal($top: -2px, $size: 1.0em, $offset: 7px, $side: left, $sideOffset: 0px);
            }
        }
    }
    > .large-text {
        &.left {
            @include large-button-text($marginSide: margin-left, $marginOffset: 30px);
        }
        &.right {
            @include large-button-text($marginSide: margin-right, $marginOffset: 30px);
        }
    }
    > .regular-text {
        &.left {
            @include regular-button-text($marginSide: margin-left, $marginOffset: 22px);
        }
        &.right {
            @include regular-button-text($marginSide: margin-right, $marginOffset: 22px);
        }
    }
    > .small-text {
        &.left {
            @include small-button-text($marginSide: margin-left, $marginOffset: 16px);
        }
        &.right {
            @include small-button-text($marginSide: margin-right, $marginOffset: 16px);
        }
    }
}
// -------------------- Styles of component 'Image button' <end> --------------------

// -------------------- Styles of component 'Switch button' <start> --------------------
.swbtn {
    border: 1px solid $whitesmoke;
    &.large.on {
        $baseSize: 36px;
        @include base-button($backcolor: $green-base, $hovercolor: $green-base, $radius: $baseSize / 2 + 2, $shadowSet: inset);
        height: $baseSize;
        line-height: $baseSize;
        width: $baseSize * 1.5;
        color: transparent;
        > .inner-button {
            @include inner-button ($top: 3px, $side: right, $offset: 3px, $size: $baseSize - 2);
        }
    }
    &.large.off {
        $baseSize: 36px;
        @include base-button($backcolor: $red-base, $hovercolor: $red-base, $radius: $baseSize / 2 + 2, $shadowSet: inset);
        height: $baseSize;
        line-height: $baseSize;
        width: $baseSize * 1.5;
        color: transparent;
        > .inner-button {
            @include inner-button ($top: 3px, $side: left, $offset: 3px, $size: $baseSize - 2);
        }
    }
    &.regular.on {
        $baseSize: 30px;
        @include base-button($backcolor: $green-base, $hovercolor: $green-base, $radius: $baseSize / 2 + 2, $shadowSet: inset);
        height: $baseSize;
        line-height: $baseSize;
        width: $baseSize * 1.5;
        color: transparent;
        > .inner-button {
            @include inner-button ($top: 3px, $side: right, $offset: 3px, $size: $baseSize - 2);
        }
    }
    &.regular.off {
        $baseSize: 30px;
        @include base-button($backcolor: $red-base, $hovercolor: $red-base, $radius: $baseSize / 2 + 2, $shadowSet: inset);
        height: $baseSize;
        line-height: $baseSize;
        width: $baseSize * 1.5;
        color: transparent;
        > .inner-button {
            @include inner-button ($top: 3px, $side: left, $offset: 3px, $size: $baseSize - 2);
        }
    }
    &.small.on {
        $baseSize: 22px;
        @include base-button($backcolor: $green-base, $hovercolor: $green-base, $radius: $baseSize / 2 + 2, $shadowSet: inset);
        height: $baseSize;
        line-height: $baseSize;
        width: $baseSize * 1.5;
        color: transparent;
        > .inner-button {
            @include inner-button ($top: 3px, $side: right, $offset: 3px, $size: $baseSize - 2);
        }
    }
    &.small.off {
        $baseSize: 22px;
        @include base-button($backcolor: $red-base, $hovercolor: $red-base, $radius: $baseSize / 2 + 2, $shadowSet: inset);
        height: $baseSize;
        line-height: $baseSize;
        width: $baseSize * 1.5;
        color: transparent;
        > .inner-button {
            @include inner-button ($top: 3px, $side: left, $offset: 3px, $size: $baseSize - 2);
        }
    }
}
// -------------------- Styles of component 'Switch button' <end> --------------------