// -------------------- Base styles of buttons <start> --------------------
@mixin base-button($backcolor, $hovercolor, $radius: 6px) {
    outline: none;
    border: 0px solid transparent;
    box-shadow: 2px 2px 5px $gray-level-2;
    text-align: center;
    // ---------- unselectable ----------
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    // ---------- unselectable ----------
    cursor: pointer;
    border-radius: $radius;
    background-color: $backcolor;
    &:hover {
        background-color: $hovercolor;
    }
    &:active {
        background-color: lighten($hovercolor, 5%);
        box-shadow: 1px 1px 4px $gray-level-2;
        margin-left: 1px;
        margin-top: 1px;
    }
    &[disabled] {
        color: white;
        background-color: $gray-level-0;
        box-shadow: 0px 0px 0px transparent;
        margin-left: 0px;
        margin-top: 0px;
        cursor: default;
    }
}
%large-button {
    min-height: 24px;
    min-width: 56px;
    padding: 5px 12px;
}
%regular-button {
    min-height: 20px;
    min-width: 40px;
    padding: 5px 12px;
}
%small-button {
    min-height: 16px;
    min-width: 30px;
    padding: 2px 6px;
}
// -------------------- Base styles of buttons <end> --------------------

// -------------------- Styles of component 'Standard button' <start> --------------------
.btn {
    &.large {
        @extend %large-button;
    }
    &.regular {
        @extend %regular-button;
    }
    &.small {
        @extend %small-button;
    }
}
.btn-plain {
    @include base-button($backcolor: $whitesmoke, $hovercolor: $whitesmoke);
    color: $gray-level-1;
    border: 1px solid $whitesmoke;
}
.btn-primary {
    @include base-button($backcolor: $sky-base, $hovercolor: $sky-light);
    color: $whitesmoke;
}
.btn-warning {
    @include base-button($backcolor: $orange-base, $hovercolor: $orange-light);
    color: $whitesmoke;
}
.btn-alarm {
    @include base-button($backcolor: $red-base, $hovercolor: $red-light);
    color: $whitesmoke;
}
.btn-prompt {
    @include base-button($backcolor: $green-base, $hovercolor: $green-light);
    color: $whitesmoke;
}
.btn-attention {
    @include base-button($backcolor: $pink-base, $hovercolor: $pink-light);
    color: $whitesmoke;
}
// -------------------- Styles of component 'Standard button' <end> --------------------

// -------------------- Styles of component 'Image button' <start> --------------------
.imgbtn {
    &.large {
        @extend %large-button;
    }
    &.regular {
        @extend %regular-button;
    }
    &.small {
        @extend %small-button;
    }
    > .btn-img {
        @include button-image($top: 0px, $side: left, $offset: 10px, $color: white, $size: 1.2em, $cursor: pointer);
    }
}
// -------------------- Styles of component 'Image button' <end> --------------------

// -------------------- Styles of component 'Switch button' <start> --------------------
// -------------------- Styles of component 'Switch button' <end> --------------------