// -------------------- Common styles of dialogs <start> --------------------
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.25);
}
@mixin dialog-buttons($count: 2) {
    // ############ design ############
    // border: 1px dashed violet;
    // ############ design ############
    position: absolute;
    top: 180px;
    left: 0px;
    height: 60px;
    width: 100%;

    $right-offset: 15px;
    @for $i from $count through 1 {
        .btn:nth-child(#{$i}) {
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            right: $right-offset;
            width: 65px;
            // color: $fore-color;
            // background-color: $whitesmoke;
            // border: 1px solid $gray-level-5;
        }
        $right-offset: $right-offset + 80px;
    }
    $hidden-formula: 'n+' + ($count + 1);
    .btn:nth-child(#{$hidden-formula}) {
        position: absolute;
        display: none;
        width: 0px;
        height: 0px;
    }
}
@mixin dialog-layout($base-color: $sky-base) {
    > .title {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 32px;
        line-height: 32px;
        width: calc(100% - 30px);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: $whitesmoke;
        background-color: $base-color;
        padding: 0px 15px;
        > .close-button {
            // Include from pebble components
            @include close-button($top: 7px, $color: $whitesmoke, $size: 1.5em, $offset: 5px, $side: right, $sideOffset: 20px, $cursor: pointer);
        }
    }
    > .images {
        // ############ design ############
        // border: 1px dashed red;
        // ############ design ############
        position: absolute;
        top: 32px;
        left: 0px;
        height: calc(100% - 32px - 60px);
        width: 100px;
        > .icon {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: $base-color;
            font-size: 4.5em;
        }
    }
    > .content {
        // ############ design ############
        // border: 1px dashed blue;
        // ############ design ############
        position: absolute;
        top: 32px;
        left: 100px;
        height: calc(100% - 32px - 60px);
        width: calc(100% - 100px);
        > .text {
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            left: 0;
            padding-right: 20px;
            color: $base-color;
        }
    }
}
// -------------------- Common styles of dialogs <end> --------------------

// -------------------- Styles of component 'Standard dialog' <start> --------------------
.dialog {
    display: block;
    z-index: 1000000;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    -webkit-transform: translate(-50%, -30%);
    width: 520px;
    max-width: 100%;
    height: 240px;
    max-height: 100%;
    border-radius: 12px;
    background: $whitesmoke;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.9);
    &.information {
        @include dialog-layout($base-color: $sky-base);
    }
    &.confirmation {
        @include dialog-layout($base-color: $sky-base);
    }
    &.warning {
        @include dialog-layout($base-color: $orange-base);
    }
    &.error {
        @include dialog-layout($base-color: $red-base);
    }
    > .buttons {
        &.ok {
            @include dialog-buttons($count: 1);
        }
        &.ok-cancel {
            @include dialog-buttons($count: 2);
        }
        &.retry-cancel {
            @include dialog-buttons($count: 2);
        }
        &.yes-no {
            @include dialog-buttons($count: 2);
        }
        &.yes-no-cancel {
            @include dialog-buttons($count: 3);
        }
        &.abort-retry-ignore {
            @include dialog-buttons($count: 3);
        }
    }
}
// -------------------- Styles of component 'Standard dialog' <end> --------------------

// -------------------- Styles of component 'Feature dialog' <start> --------------------
// -------------------- Styles of component 'Feature dialog' <end> --------------------

// -------------------- Styles of component 'Toaster' <start> --------------------
// -------------------- Styles of component 'Toaster' <end> --------------------

// -------------------- Common styles of dialogs <start> --------------------
.dialog-hidden {
    display: none;
}
.dialog-fade {
    opacity: 0;
    &.down {
        animation: fadeDown 0.3s ease-in both;
        -webkit-animation: fadeDown 0.3s ease-in both;
    }
    &.up {
        animation: fadeUp 0.3s ease-out both;
        -webkit-animation: fadeUp 0.3s ease-out both;
    }
}
@keyframes fadeDown {
	from {
		opacity: 0;
        transform: translate3d(-50%, -230%, 0);
	}
	to {
		opacity: 1;
        transform: translate3d(-50%, -30%, 0);
	}
}
@keyframes fadeUp {
	from {
		opacity: 1;
        transform: translate3d(-50%, -30%, 0);
	}
	to {
        opacity: 0;
        transform: translate3d(-50%, -230%, 0);
	}
}
@-webkit-keyframes fadeDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -230%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -30%, 0);
	}
}
@-webkit-keyframes fadeUp {
	from {
		opacity: 1;
        -webkit-transform: translate3d(-50%, -30%, 0);
	}
	to {
        opacity: 0;
		-webkit-transform: translate3d(-50%, -230%, 0);
	}
}
// -------------------- Common styles of dialogs <end> --------------------