// -------------------- Common styles of dialogs <start> --------------------
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.5);
}
// -------------------- Common styles of dialogs <end> --------------------

// -------------------- Styles of component 'Standard dialog' <start> --------------------
.dialog {
    display: block;
    z-index: 1000000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    border-radius: 12px;
    background: $whitesmoke;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.9);
    > .title {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 32px;
        line-height: 32px;
        width: calc(100% - 30px);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: $whitesmoke;
        background-color: $orange-base;
        padding: 0px 15px;
        > .close-button {
            // Include from pebble components
            @include close-button($top: 7px, $color: $whitesmoke, $size: 1.8em, $offset: 6px, $side: right, $sideOffset: 20px, $cursor: pointer);
        }
    }
    > .icon {
        // ############ design ############
        // border: 1px dashed red;
        // ############ design ############
        position: absolute;
        top: 32px;
        left: 0px;
        height: calc(100% - 32px - 60px);
        width: 100px;
    }
    > .content {
        // ############ design ############
        // border: 1px dashed black;
        // ############ design ############
        position: absolute;
        top: 32px;
        left: 100px;
        height: calc(100% - 32px - 60px);
        width: calc(100% - 100px);
    }
    > .buttons {
        // ############ design ############
        // border: 1px dashed violet;
        // ############ design ############
        position: absolute;
        top: 240px;
        left: 0px;
        height: 60px;
        width: 100%;
    }
}

// .modal-overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 50;
//     background: rgba(0, 0, 0, 0.6);
// }
.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 55px);
    height: 100%;
    overflow: auto;
    padding: 20px 35px 20px 20px;
}
p {
    margin: 0 0 10px 0;
}
h1 {
    margin: 0 0 20px 0;
}
.modal .close-button {
    position: absolute;
    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;
    top: 10px;
    /* needs to look OK with or without scrollbar */
    right: 20px;
    border: 0;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
}
.open-button {
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 21px;
}
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// -------------------- Styles of component 'Standard dialog' <end> --------------------

// -------------------- Styles of component 'Feature dialog' <start> --------------------
// -------------------- Styles of component 'Feature dialog' <end> --------------------

// -------------------- Styles of component 'Toaster' <start> --------------------
// -------------------- Styles of component 'Toaster' <end> --------------------

// -------------------- Common styles of dialogs <start> --------------------
.dialog-closed {
    display: none;
}
// -------------------- Common styles of dialogs <end> --------------------