// -------------------- Styles of component 'Label' <start> --------------------
.lbl-default {
    color: $fore-color;
    background-color: $back-color;
}
.lbl-shadow {
    text-shadow: 3px 3px 3px $gray-level-3;
}
// -------------------- Styles of component 'Label' <end> --------------------

// -------------------- Styles of component 'Image' <start> --------------------
// -------------------- Styles of component 'Image' <end> --------------------

// -------------------- Styles of component 'List' <start> --------------------
// -------------------- Styles of component 'List' <end> --------------------

// -------------------- Styles of component 'Tree list' <start> --------------------
// -------------------- Styles of component 'Tree list' <end> --------------------

// -------------------- Styles of component 'Progress' <start> --------------------
// -------------------- Styles of component 'Progress' <end> --------------------