// -------------------- Styles of component 'Label' <start> --------------------
.label {
    color: $fore-color;
    background-color: $back-color;
    &.default {
        text-shadow: 0px 0px 0px transparent;
    }
    &.shadow {
        text-shadow: 3px 3px 3px $gray-level-3;
    }
}
// -------------------- Styles of component 'Label' <end> --------------------

// -------------------- Styles of component 'Image' <start> --------------------
.image {
    display: inline-block;
    z-index: 0;
    margin: 4px;
    background-color: $whitesmoke;
    padding: 2px;
    box-shadow: 0 0 6px $gray-level-2;
    -moz-box-shadow: 0 0 6px $gray-level-2;
    -webkit-box-shadow: 0 0 6px $gray-level-2;
    &:hover {
        z-index: 50;
        cursor: pointer;
    }
    &:hover span {
        top: -512px;
        left: 128px;
    }
    > .thumbnail {
        max-height: 128px;
        max-width: 128px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
            -webkit-filter: blur(5px);
        }
    }
    > .origin {
        position: absolute;
        left: -99999px;
        background-color: $whitesmoke;
        padding: 4px;
        box-shadow: 0 0 6px $gray-level-2;
        -moz-box-shadow: 0 0 6px $gray-level-2;
        -webkit-box-shadow: 0 0 6px $gray-level-2;
        > img {
            max-height: 512px;
            max-width: 512px;
        }
    }
    // $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    > .medium {
        max-height: 512px;
        max-width: 512px;
        display: block;
        width: 100%;
        height: auto;
    }
    > .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000000;
        opacity:0.75;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .3s ease;
        > .text {
            color: $whitesmoke;
            position: absolute;
            overflow-x: hidden;
            overflow-y: auto;
            top: 50%;
            margin: 4px;
            height: 100%;
            left: 0%;
            transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
        }
    }
    &:hover .overlay {
        height: 50%;
    }
    // $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    // disabled:
    // -webkit-filter: grayscale(100%);
}
// -------------------- Styles of component 'Image' <end> --------------------

// -------------------- Styles of component 'List' <start> --------------------
// -------------------- Styles of component 'List' <end> --------------------

// -------------------- Styles of component 'Tree list' <start> --------------------
// -------------------- Styles of component 'Tree list' <end> --------------------

// -------------------- Styles of component 'Progress' <start> --------------------
// -------------------- Styles of component 'Progress' <end> --------------------