// -------------------- Base styles of rating element <start> --------------------
@mixin rating-item($color, $size, $offset, $cursor: pointer) {
    position: relative;
    top: 0px;
    left: 0px;
    cursor: $cursor;
    margin: $offset;
    font-size: $size;
    color: $color;
    background-color: $back-color;
}
// -------------------- Base styles of rating element <end> --------------------

// -------------------- Styles of component 'Editor' <start> --------------------
.editor {
    input[type=text]::-ms-clear {
        display: none;
    }
    &.default {
        @extend %border-base-normal;
        min-height: 24px;
        max-height: 30px;
        min-width: 40px;
        background-color: $back-color;
        > .input {
            @include input-element($color: $fore-color)
        }
        > .close-button {
            // Include from pebble components
            @include close-button($top: 6px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 10px);
        }
    }
    &.focus {
        @extend %border-base-focus;
        min-height: 24px;
        max-height: 30px;
        min-width: 40px;
        > .input {
            @include input-element($color: $fore-color)
        }
        > .close-button {
            // Include from pebble components
            @include close-button($top: 6px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 10px);
        }
    }
    &.error {
        @extend %border-base-error;
        min-height: 24px;
        max-height: 30px;
        min-width: 40px;
        > .input {
            @include input-element($color: $red-base)
        }
        > .close-button {
            // Include from pebble components
            @include close-button($top: 6px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 10px);
        }
    }
    &.disabled {
        @extend %border-base-disabled;
        min-height: 24px;
        max-height: 30px;
        min-width: 40px;
        background-color: $back-color;
        > .input {
            @include input-element($color: $disabled-color)
        }
        > .close-button {
            // Include from pebble components
            @include close-button($top: 6px, $color: $disabled-color, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 10px, $cursor: default);
        }
    }
}
// -------------------- Styles of component 'Editor' <end> --------------------

// -------------------- Styles of component 'Search Editor' <start> --------------------
.search-editor {
    input[type=text]::-ms-clear {
        display: none;
    }
    &.default {
        @extend %border-base-normal;
        min-height: 24px;
        max-height: 30px;
        min-width: 56px;
        > .input {
            @include input-element($color: $fore-color)
        }
        > .close-button {
            // Include from pebble components
            @include close-button($top: 6px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 26px);
        }
        > .search-button {
            // Include from pebble components
            @include single-button($top: 9px, $color: $gray-level-4, $size: 0.9em, $side: right, $sideOffset: 8px);
        }
    }
    &.focus {
        @extend %border-base-focus;
        min-height: 24px;
        max-height: 30px;
        min-width: 56px;
        > .input {
            @include input-element($color: $fore-color)
        }
        > .close-button {
            // Include from pebble components
            @include close-button($top: 6px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 26px);
        }
        > .search-button {
            // Include from pebble components
            @include single-button($top: 9px, $color: $gray-level-4, $size: 0.9em, $side: right, $sideOffset: 8px);
        }
    }
    &.disabled {
        @extend %border-base-disabled;
        min-height: 24px;
        max-height: 30px;
        min-width: 56px;
        > .input {
            @include input-element($color: $disabled-color)
        }
        > .close-button {
            // Include from pebble components
            @include close-button($top: 6px, $color: $disabled-color, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 26px, $cursor: default);
        }
        > .search-button {
            // Include from pebble components
            @include single-button($top: 9px, $color: $disabled-color, $size: 0.9em, $side: right, $sideOffset: 8px, $cursor: default);
        }
    }
}
// -------------------- Styles of component 'Search Editor' <end> --------------------

// -------------------- Styles of component 'Rating Editor' <start> --------------------
.rating-editor {
    &.default {
        > .rating-item {
            @include rating-item($color: $orange-base, $size: 1.6em, $offset: 2px, $cursor: pointer);
        }
    }
    &.readonly {
        > .rating-item {
            @include rating-item($color: $orange-base, $size: 1.6em, $offset: 2px, $cursor: default);
        }
    }
    &.heart {
        > .rating-item {
            @include rating-item($color: $red-base, $size: 1.4em, $offset: 2px, $cursor: pointer);
        }
    }
    &.heart-readonly {
        > .rating-item {
            @include rating-item($color: $red-base, $size: 1.4em, $offset: 2px, $cursor: default);
        }
    }
}
// -------------------- Styles of component 'Rating Editor' <end> --------------------