// -------------------- Base styles of input element <start> --------------------
@mixin input-element($color: $fore-color) {
    border-style: none;
    outline: none;
    color: $color;
    background-color: $back-color;
    margin: 3px 8px;
    min-height: 18px;
    min-height: 24px;
}
// -------------------- Base styles of input element <end> --------------------

// -------------------- Base styles of rating element <start> --------------------
@mixin rating-item($color, $size, $offset, $cursor: pointer) {
    position: relative;
    top: 0px;
    left: 0px;
    cursor: $cursor;
    margin: $offset;
    font-size: $size;
    color: $color;
    background-color: $back-color;
}
// -------------------- Base styles of rating element <end> --------------------

// -------------------- Styles of component 'Editor' <start> --------------------
.edt-default {
    @extend %border-base-normal;
    min-height: 24px;
    min-width: 40px;
    background-color: $back-color;
    > .input-default {
        @include input-element($color: $fore-color)
    }
    > .close-button {
        // Include from pebble components
        @include close-button($top: 0px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 5px);
    }
}
.edt-focus {
    @extend %border-base-focus;
    min-height: 24px;
    min-width: 40px;
    > .input-default {
        @include input-element($color: $fore-color)
    }
    > .close-button {
        // Include from pebble components
        @include close-button($top: 0px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 5px);
    }
}
.edt-error {
    @extend %border-base-error;
    min-height: 24px;
    min-width: 40px;
    > .input-default {
        @include input-element($color: $red-base)
    }
    > .close-button {
        // Include from pebble components
        @include close-button($top: 0px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 5px);
    }
}
.edt-disabled {
    @extend %border-base-disabled;
    min-height: 24px;
    min-width: 40px;
    background-color: $back-color;
    > .input-default {
        @include input-element($color: $gray-level-0)
    }
    > .close-button {
        // Include from pebble components
        @include close-button($top: 0px, $color: $gray-level-0, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 5px, $cursor: default);
    }
}
// -------------------- Styles of component 'Editor' <end> --------------------

// -------------------- Styles of component 'Search Editor' <start> --------------------
.search-default {
    @extend %border-base-normal;
    min-height: 24px;
    min-width: 56px;
    > .input-default {
        @include input-element($color: $fore-color)
    }
    > .close-button {
        // Include from pebble components
        @include close-button($top: 0px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 22px);
    }
    > .search-button {
        // Include from pebble components
        @include search-button($top: 9px, $color: $gray-level-4, $size: 0.9em, $side: right, $sideOffset: 10px);
    }
}
.search-focus {
    @extend %border-base-focus;
    min-height: 24px;
    min-width: 56px;
    > .input-default {
        @include input-element($color: $fore-color)
    }
    > .close-button {
        // Include from pebble components
        @include close-button($top: 0px, $color: $gray-level-4, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 22px);
    }
    > .search-button {
        // Include from pebble components
        @include search-button($top: 9px, $color: $gray-level-4, $size: 0.9em, $side: right, $sideOffset: 10px);
    }
}
.search-disabled {
    @extend %border-base-disabled;
    min-height: 24px;
    min-width: 56px;
    > .input-default {
        @include input-element($color: $gray-level-0)
    }
    > .close-button {
        // Include from pebble components
        @include close-button($top: 0px, $color: $gray-level-0, $size: 1.2em, $offset: 4px, $side: right, $sideOffset: 22px, $cursor: default);
    }
    > .search-button {
        // Include from pebble components
        @include search-button($top: 9px, $color: $gray-level-0, $size: 0.9em, $side: right, $sideOffset: 10px, $cursor: default);
    }
}
// -------------------- Styles of component 'Search Editor' <end> --------------------

// -------------------- Styles of component 'Rating Editor' <start> --------------------
.rating-default {
    > .rating-item {
        @include rating-item($color: $orange-base, $size: 1.6em, $offset: 2px, $cursor: pointer);
    }
}
.rating-readonly {
    > .rating-item {
        @include rating-item($color: $orange-base, $size: 1.6em, $offset: 2px, $cursor: default);
    }
}
.rating-red-heart {
    > .rating-item {
        @include rating-item($color: $red-base, $size: 1.4em, $offset: 2px, $cursor: pointer);
    }
}
.rating-heart-readonly {
    > .rating-item {
        @include rating-item($color: $red-base, $size: 1.4em, $offset: 2px, $cursor: default);
    }
}
// -------------------- Styles of component 'Rating Editor' <end> --------------------