$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

// -------------------- Components default values <start> --------------------
$fore-color: $dimgray !default;
$back-color: transparent !default;
$disabled-color: $gray-level-0 !default;
$focus-back-color: lighten($sky-base, 50%) !default;
$focus-border-color: $sky-base !default;
$selected-back-color: $sky-base !default;
// -------------------- Components default values <end> --------------------

// -------------------- Components default styles: border <start> --------------------
%border-base-none {
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 0 0px transparent;
}
%border-base-normal {
    outline: none;
    border: 1px solid $gray-level-5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 0 0px transparent;
}
%border-base-focus {
    outline: none;
    border: 1px solid $focus-border-color;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 0 6px $aqua-base;
}
%border-base-error {
    outline: none;
    border: 1px solid $red-base;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 0 6px $red-light;
}
%border-base-disabled {
    outline: none;
    border: 1px solid $disabled-color;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 0 0px transparent;
}
// -------------------- Components default styles: border <end> --------------------



//text-overflow:ellipsis

// &:hover {
//     color: $whitesmoke;
//     background-color: $gray-level-4;
//     border-color: $gray-level-4;
//     box-shadow: 0px 0px 6px $gray-level-4;
// }