// ---------- Constants: colors ----------
$color-red-base : #E9573F;
$color-red-light : #FC6E51;
$color-orange-base : #F6BB42;
$color-orange-light : #FFCE54;
$color-green-base : #BCC152;
$color-green-light : #A0D46B;
$color-aqua-base : #3BAFDA;
$color-aqua-light : #4FC1E9;
$color-blue-base : #4A89DC;
$color-blue-light : #5D9CEC;