// -------------------- Constants: colors <start> --------------------
// Polychrome:
$red-base : #E9573F;
$red-light : #FC6E51;
$orange-base : #F6BB42;
$orange-light : #FFCE54;
$green-base : #7CC137;
$green-light : #A0D46B;
$aqua-base : #3BAFDA;
$aqua-light : #4FC1E9;
$blue-base : #4A89DC;
$blue-light : #5D9CEC;
$sky-base : #1A78CA;
$sky-light : #2E8AD9;
$violet-base : #967ADC;
$violet-light : #AC92EC;
$pink-base : #D770AD;
$pink-light : #EC87C0;
// Grayscale:
$whitesmoke : #F5F5F5;
$gray-level-0 : #CCCCCC;
$gray-level-1 : #B3B3B3;
$gray-level-2 : #999999;
$gray-level-3 : #808080;
$gray-level-4 : #666666;
$gray-level-5 : #4D4D4D;
$gray-level-6 : #333333;
$gray-level-7 : #2B2B2B;
$dimgray : #141414;
// -------------------- Constants: colors <end> --------------------

// -------------------- Constants: typography <start> --------------------
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
// -------------------- Constants: typography <end> --------------------