// ---------- Constants: colors ----------
// Polychrome:
$color-red-base : #E9573F;
$color-red-light : #FC6E51;
$color-orange-base : #F6BB42;
$color-orange-light : #FFCE54;
$color-green-base : #7CC137;
$color-green-light : #A0D46B;
$color-aqua-base : #3BAFDA;
$color-aqua-light : #4FC1E9;
$color-blue-base : #4A89DC;
$color-blue-light : #5D9CEC;
$color-sky-base : #1A78CA;
$color-sky-light : #2E8AD9;
$color-violet-base : #967ADC;
$color-violet-light : #AC92EC;
$color-pink-base : #D770AD;
$color-pink-light : #EC87C0;
// Grayscale:
$color-whitesmoke : #F5F5F5;
$color-gray-level-0 : #CCCCCC;
$color-gray-level-1 : #B3B3B3;
$color-gray-level-2 : #999999;
$color-gray-level-3 : #808080;
$color-gray-level-4 : #666666;
$color-gray-level-5 : #4D4D4D;
$color-gray-level-6 : #333333;
$color-gray-level-7 : #2B2B2B;
$color-dimgray : #141414;