// -------------------- index-page <start> --------------------
.index-page-header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    width: 100%;
    text-align: left;
    color: $whitesmoke;
    background-color: $sky-base;
    a:link {
        text-decoration: none;
        color: $whitesmoke;
    }
    a:visited {
        text-decoration: none;
        color: $whitesmoke;
    }
    a:hover {
        text-decoration: none;
        color: $whitesmoke;
    }
    a:active {
        text-decoration: none;
        color: $whitesmoke;
    }
    > .index-page-navigater-styles {
        position: absolute;
        left: 630px;
        top: 6px;
    }
    > .index-page-navigater-components {
        position: absolute;
        left: 770px;
        top: 6px;
    }
}

// -------------------- index-page <end> --------------------

// -------------------- style-guideline <start> --------------------
.title-level-01 {
    position: absolute;
    left: 5px;
    z-index: 10;
    background-color: white;
    width: 100%;
    text-align: left;
    height: 30px;
    > .title-level-02 {
        position: relative;
        left: 10px;
        height: 25px;
        > .title-level-03 {
            position: relative;
            left: 10px;
            height: 20px;
            > .title-level-04 {
                position: relative;
                left: 10px;
                height: 20px;
                > .title-level-05 {
                    position: relative;
                    left: 10px;
                    height: 16px;
                }
            }
        }
    }
}

.title-guideline {
    top: 60px;
    > .title-base-colors {
        top: 10px;
        > .title-polychrome {
            top: 10px;
            > .content-red-light {
                color: white;
                background-color: $red-light;
                top: 25px;
                left: 40px;
            }
            > .content-red-base {
                color: white;
                background-color: $red-base;
                top: 25px;
                left: 140px;
            }
            > .content-orange-light {
                color: white;
                background-color: $orange-light;
                top: 25px;
                left: 260px;
            }
            > .content-orange-base {
                color: white;
                background-color: $orange-base;
                top: 25px;
                left: 360px;
            }
            > .content-green-light {
                color: white;
                background-color: $green-light;
                top: 25px;
                left: 480px;
            }
            > .content-green-base {
                color: white;
                background-color: $green-base;
                top: 25px;
                left: 580px;
            }
            > .content-aqua-light {
                color: white;
                background-color: $aqua-light;
                top: 25px;
                left: 700px;
            }
            > .content-aqua-base {
                color: white;
                background-color: $aqua-base;
                top: 25px;
                left: 800px;
            }
            > .content-blue-light {
                color: white;
                background-color: $blue-light;
                top: 90px;
                left: 40px;
            }
            > .content-blue-base {
                color: white;
                background-color: $blue-base;
                top: 90px;
                left: 140px;
            }
            > .content-sky-light {
                color: white;
                background-color: $sky-light;
                top: 90px;
                left: 260px;
            }
            > .content-sky-base {
                color: white;
                background-color: $sky-base;
                top: 90px;
                left: 360px;
            }
            > .content-violet-light {
                color: white;
                background-color: $violet-light;
                top: 90px;
                left: 480px;
            }
            > .content-violet-base {
                color: white;
                background-color: $violet-base;
                top: 90px;
                left: 580px;
            }
            > .content-pink-light {
                color: white;
                background-color: $pink-light;
                top: 90px;
                left: 700px;
            }
            > .content-pink-base {
                color: white;
                background-color: $pink-base;
                top: 90px;
                left: 800px;
            }
        }
        > .title-grayscale {
            top: 140px;
            > .content-whitesmoke {
                color: $gray-level-7;
                background-color: $whitesmoke;
                top: 25px;
                left: 40px;
            }
            > .content-gray-level-0 {
                color: $gray-level-6;
                background-color: $gray-level-0;
                top: 25px;
                left: 130px;
            }
			> .content-gray-level-1 {
                color: $gray-level-6;
                background-color: $gray-level-1;
                top: 25px;
                left: 220px;
            }
			> .content-gray-level-2 {
                color: $gray-level-5;
                background-color: $gray-level-2;
                top: 25px;
                left: 310px;
            }
			> .content-gray-level-3 {
                color: $gray-level-5;
                background-color: $gray-level-3;
                top: 25px;
                left: 400px;
            }
			> .content-gray-level-4 {
                color: $gray-level-1;
                background-color: $gray-level-4;
                top: 25px;
                left: 490px;
            }
			> .content-gray-level-5 {
                color: $gray-level-0;
                background-color: $gray-level-5;
                top: 25px;
                left: 580px;
            }
			> .content-gray-level-6 {
                color: $gray-level-0;
                background-color: $gray-level-6;
                top: 25px;
                left: 670px;
            }
			> .content-gray-level-7 {
                color: $whitesmoke;
                background-color: $gray-level-7;
                top: 25px;
                left: 760px;
            }
			> .content-dimgray {
                color: $whitesmoke;
                background-color: $dimgray;
                top: 25px;
                left: 850px;
            }
        }
    }
    > .title-typography {
        top: 250px;
        > .typography-item {
            position: absolute;
            left: 0px;
            padding: 2px 0px 0px 40px;
        }
        > .typography-description {
            position: relative;
            top: 0px;
            left: 255px;
        }
    }
    > .title-animation-setting {
        top: 670px;
        > .animation-example {
            color: white;
            background-color: $sky-base;
            top: 30px;
            left: 40px;
            text-align: center;
            height: 50px;
            line-height: 50px;
            width: 875px;
            &:hover {
                background-color: $orange-base;
            }
        }
    }
    > .title-components-style {
        top: 740px;
        > .title-component-base {
            top: 0px;
            > .border-example-normal {
                @extend %border-base-normal;
                position: absolute;
                top: 40px;
                left: 40px;
                height: 25px;
                line-height: 25px;
                width: 120px;
                text-align: center;
            }
            > .border-example-onfocus {
                @extend %border-base-focus;
                position: absolute;
                top: 40px;
                left: 180px;
                height: 25px;
                line-height: 25px;
                width: 120px;
                text-align: center;
            }
            > .border-example-onerror {
                @extend %border-base-error;
                position: absolute;
                top: 40px;
                left: 320px;
                height: 25px;
                line-height: 25px;
                width: 120px;
                text-align: center;
            }
        }
        > .title-basic-components {
            top: 60px;
            > .title-display-components {
                top: 5px;
                > .title-components-label {
                    top: 5px;
                    > .label-example-normal {
                        position: absolute;
                        top: 25px;
                        left: 40px;
                    }
                    > .label-example-shadow {
                        position: absolute;
                        top: 85px;
                        left: 40px;
                    }
                }
                > .title-components-image {
                    top: 105px;
                }
                > .title-components-list {
                    top: 205px;
                }
                > .title-components-tree-list {
                    top: 305px;
                }
                > .title-components-progress {
                    top: 405px;
                }
            }
            > .title-input-components {
                top: 600px;
                > .title-components-editor {
                    top: 5px;
                    > .editor-example-normal {
                        position: absolute;
                        top: 25px;
                        left: 40px;
                    }
                    > .editor-example-focus {
                        position: absolute;
                        top: 25px;
                        left: 240px;
                    }
                    > .editor-example-error {
                        position: absolute;
                        top: 25px;
                        left: 440px;
                    }
                    > .editor-example-disabled {
                        position: absolute;
                        top: 25px;
                        left: 640px;
                    }
                }
                > .title-components-search-editor {
                    top: 65px;
                    > .search-editor-example-normal {
                        position: absolute;
                        top: 25px;
                        left: 40px;
                        width: 202px;
                    }
                    > .search-editor-example-focus {
                        position: absolute;
                        top: 25px;
                        left: 255px;
                        width: 202px;
                    }
                    > .search-editor-example-disabled {
                        position: absolute;
                        top: 25px;
                        left: 470px;
                        width: 202px;
                    }
                }
                > .title-components-rating-editor {
                    top: 120px;
                    > .rating-editor-star-empty {
                        position: absolute;
                        top: 25px;
                        left: 40px;
                    }
                    > .rating-editor-star-half {
                        position: absolute;
                        top: 65px;
                        left: 40px;
                    }
                    > .rating-editor-heart-full {
                        position: absolute;
                        top: 105px;
                        left: 40px;
                    }
                }
            }
            > .title-button-components {
                top: 900px;
                > .title-components-standard-button {
                    top: 5px;
                    > .btn-ex-a {
                        position: absolute;
                        top: 25px;
                        left: 40px;
                    }
                    > .btn-ex-b {
                        position: absolute;
                        top: 30px;
                        left: 175px;
                    }
                    > .btn-ex-c {
                        position: absolute;
                        top: 30px;
                        left: 310px;
                    }
                    > .btn-ex-d {
                        position: absolute;
                        top: 30px;
                        left: 450px;
                    }
                    > .btn-ex-e {
                        position: absolute;
                        top: 30px;
                        left: 575px;
                    }
                    > .btn-ex-f {
                        position: absolute;
                        top: 30px;
                        left: 710px;
                    }
                    > .btn-ex-g {
                        position: absolute;
                        top: 75px;
                        left: 40px;
                    }
                    > .btn-ex-h {
                        position: absolute;
                        top: 78px;
                        left: 180px;
                    }
                }
                > .title-components-image-button {
                    top: 105px;
                }
                > .title-components-switch-button {
                    top: 205px;
                }
            }
            > .title-selector-components {
                top: 1400px;
                > .title-components-combo-selector {
                    top: 5px;
                }
                > .title-components-radio-selector {
                    top: 105px;
                }
                > .title-components-checkbox-selector {
                    top: 205px;
                }
            }
            > .title-dialog-components {
                top: 1800px;
                > .title-components-standard-dialog {
                    top: 5px;
                }
                > .title-components-feature-dialog {
                    top: 105px;
                }
                > .title-components-toaster {
                    top: 205px;
                }
            }
            > .title-picker-components {
                top: 2200px;
                > .title-components-date-picker {
                    top: 5px;
                }
                > .title-components-time-picker {
                    top: 105px;
                }
            }
            > .title-subpage-components {
                top: 2400px;
                > .title-components-pagination {
                    top: 5px;
                }
            }
        }
    }
}

.content-block-single {
    position: absolute;
    z-index: 20;
    text-align: center;
    border-radius: 8px;
}

.content-block-left {
    position: absolute;
    z-index: 20;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.content-block-middle {
    position: absolute;
    z-index: 20;
    text-align: center;
    border-left: 1px black;
    border-right: 1px black;
}

.content-block-right {
    position: absolute;
    z-index: 20;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content-colors {
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100px;
}

.content-grays {
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 90px;
}
// -------------------- style-guideline <end> --------------------

// -------------------- components-list <start> --------------------
// -------------------- components-list <end> --------------------