@import url('https://fonts.googleapis.com/css?family=Open+Sans');

%typography-font-base {
    font-family: "Open Sans", sans-serif;
}

%typography-bold-normal {
    @extend %typography-font-base;
    font-weight: $bold;
    font-style: normal;
}

%typography-semi-bold-normal {
    @extend %typography-font-base;
    font-weight: $semi-bold;
    font-style: normal;
}

%typography-regular-normal {
    @extend %typography-font-base;
    font-weight: $regular;
    font-style: normal;
}

%typography-light-normal {
    @extend %typography-font-base;
    font-weight: $light;
    font-style: normal;
}

%typography-light-italic {
    @extend %typography-font-base;
    font-weight: $light;
    font-style: italic;
}

.large-title {
    @extend %typography-bold-normal;
    font-size: 32px;
}

.regular-title {
    @extend %typography-bold-normal;
    font-size: 28px;
}

.large-heading {
    @extend %typography-bold-normal;
    font-size: 26px;
}

.regular-heading {
    @extend %typography-bold-normal;
    font-size: 24px;
}

.huge-section {
    @extend %typography-semi-bold-normal;
    font-size: 24px;
}

.large-section {
    @extend %typography-semi-bold-normal;
    font-size: 22px;
}

.regular-section {
    @extend %typography-regular-normal;
    font-size: 20px;
}

.small-section {
    @extend %typography-regular-normal;
    font-size: 18px;
}

.tiny-section {
    @extend %typography-light-normal;
    font-size: 16px;
}

.regular-content {
    @extend %typography-light-normal;
    font-size: 14px;
}

.regular-content-italic {
    @extend %typography-light-italic;
    font-size: 14px;
}

.small-content {
    @extend %typography-light-normal;
    font-size: 12px;
}

.small-content-italic {
    @extend %typography-light-italic;
    font-size: 12px;
}

.tiny-content {
    @extend %typography-light-normal;
    font-size: 11px;
}

.tiny-content-italic {
    @extend %typography-light-italic;
    font-size: 11px;
}