// -------------------- Base styles of input element <start> --------------------
@mixin input-element($color: $fore-color) {
    border-style: none;
    outline: none;
    color: $color;
    background-color: $back-color;
    margin: 3px 8px;
    min-height: 24px;
    font-family: inherit;
    font-size: inherit;
}
// -------------------- Base styles of input element <end> --------------------

// -------------------- Styles of pebble component 'placeholder' <start> --------------------
@mixin placeholder($height, $color: $fore-color) {
    position: absolute;
    height: $height;
    line-height: $height;
    transform: translate(0, -50%);
    top: 50%;
    border-style: none;
    outline: none;
    color: $color;
    background-color: $back-color;
    margin: 0px 8px 3px 8px;
    min-height: 24px;
}
// -------------------- Styles of pebble component 'placeholder' <end> --------------------

// -------------------- Styles of pebble component 'close button' <start> --------------------
@mixin close-button($top, $color, $size, $offset, $side: left, $sideOffset: 0px, $cursor: pointer) {
    position: absolute;
    top: $top;
    #{$side}: $sideOffset;
    width: 12px;
    height: 16px;
    line-height: 16px;
    cursor: $cursor;
    > .close-button-left {
        color: $color;
        font-size: $size;
    }
    > .close-button-right {
        color: $color;
        font-size: $size;
        left: $offset;
    }
}
// -------------------- Styles of pebble component 'close button' <end> --------------------

// -------------------- Styles of pebble component 'search button' <start> --------------------
@mixin single-button($top, $color, $size, $side: left, $sideOffset: 0px, $cursor: pointer) {
    position: absolute;
    top: $top;
    #{$side}: $sideOffset;
    cursor: $cursor;
    color: $color;
    font-size: $size;
}
// -------------------- Styles of pebble component 'search button' <end> --------------------

// -------------------- Styles of pebble component 'medal' <start> --------------------
@mixin medal($top, $size, $offset, $side: left, $sideOffset: 0px) {
    position: absolute;
    top: $top;
    #{$side}: $sideOffset;
    > .medal-ribbon {
        font-size: $size * 0.6;
        top: $offset;
    }
    > .medal-star {
        font-size: $size;
    }
}
// -------------------- Styles of pebble component 'medal' <end> --------------------
